<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
  <!-- /styles -->

  <!-- favicons -->
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <!-- /favicons -->

  <!-- scripts -->
  <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
  <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
  <!-- /scripts -->

  <style>
    .btn {
      padding: 25px;
      font-weight: bold;
      font-size: 125%;
    }
  </style>
</head>

<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="navbar-brand" href="/">Poofer Control</a>
        </div>
        <div class="collapse navbar-collapse">
          <button class="btn btn-default btn-sm" id="shutdown">Shut Down</button>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-block alert-error fade in">
        <a class="close" data-dismiss="alert">&times;</a>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

    </main>

  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <script type="text/javascript" src="/static/js/libs/jquery-mobile.1.4.5.min.js"></script>
  <script type="text/javascript" src="/static/js/poofer.js" defer></script>
</body>

</html>