{% extends 'layouts/main.html' %}
{% block title %}Poofer Control{% endblock %}
{% block content %}

<div class="page-header">
</div>

<div class="container">
  <div class="col-md-8 col-xs-12 col-md-offset-2">

    <div class="row">
      <div class="col-md-6 switchdiv">
        <button id="arm" type="button" class="btn btn-lg btn-toggle btn-arm" data-toggle="button" aria-pressed="false"
          autocomplete="off">
          <div class="handle"></div>
        </button>
      </div>

      <div class="col-md-6 -right switchdiv">
        <button id="lockout" type="button" class="btn btn-lg btn-toggle btn-lockout" data-toggle="button" aria-pressed="false"
          autocomplete="off">
          <div class="handle"></div>
        </button>
      </div>

      <div class="col-md-6 switchdiv">
        <button id="mode" type="button" class="btn btn-lg btn-toggle btn-mode" data-toggle="button" aria-pressed="false"
          autocomplete="off">
          <div class="handle"></div>
        </button>
      </div>

      <div class="col-md-6 -right switchdiv">

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">Tank Pressure: <span id="tank-pressure"></span> PSI</div>
      <div class="col-md-4">Poof Duration: <span id="poof-duration"></span> ms</div>
      <div class="col-md-4">Sleep Duration: <span id="sleep-duration"></span> ms</div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <center>
          <a id="fire" href="#" class="btn btn-fire" disabled>FIRE</a>
        </center>
      </div>
    </div>

  </div>

</div>
{% endblock %}